/* reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* general */
img{
    max-width: 100%;
    width: 60px;
}
main{
    height: 100vh;
}
.container{
    margin-top: 20px;
}
.card:active {
    background-color: beige     ;
    border: 1px solid black;
}
/* parte sinistra */
.youssef{
    width: 100%;
}
/* parte destra */
.date-header {
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    color: white;
    margin-bottom: 10px;
}
/* messaggi inviaTI */
.sent {
    text-align: right;
    margin-left: auto;
    max-width: 40%;
}
.sent .message {
    background-color: #dcf8c6; 
}

/* Messaggi ricevuti */
.received {
    text-align: left;
    margin-right: auto;
    max-width: 40%;
}
.received .message {
    background-color: #fff;
    border: 1px solid #ddd;
}