/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
img{
    max-width: 100%;
    width: 60px;
}
main{
    height: 100vh;
}
.container{
    margin-top: 20px;
}
/* parte sinistra */
.youssef{
    width: 100%;
}